name: Android Release Build

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]
    workflow_dispatch:

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    build:
        runs-on: ubuntu-latest
        timeout-minutes: 30

        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Set up JDK 21
              uses: actions/setup-java@v5
              with:
                  java-version: "21"
                  distribution: "temurin"

            - name: Setup Gradle
              uses: gradle/actions/setup-gradle@v5

            - name: Decode Keystore
              env:
                  ENCODED_STRING: ${{ secrets.KEYSTORE_BASE64 }}
                  KEYSTORE_PASSWORD: ${{ secrets.KEY_STORE_PASSWORD }}
                  KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
                  KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
              run: |
                  echo $ENCODED_STRING | base64 -di > keystore
                  echo "storeFile=keystore" > keystore.properties
                  echo "storePassword=$KEYSTORE_PASSWORD" >> keystore.properties
                  echo "keyAlias=$KEY_ALIAS" >> keystore.properties
                  echo "keyPassword=$KEY_PASSWORD" >> keystore.properties

            - name: Grant execute permission for gradlew
              run: chmod +x gradlew

            - name: Build Release APK
              run: ./gradlew assembleRelease

            - name: Upload Release APK
              uses: actions/upload-artifact@v5
              with:
                  name: app-release
                  path: app/build/outputs/apk/release/app-release.apk
                  retention-days: 7
